<!DOCTYPE html>
<html>
<head>
    <title>Borrow Form</title>
</head>
<body>
    <div class="col-md-6">
        <!-- <h3>Borrow <span class="bolded">{{ listing.name }}</span></h3> -->
        <form>
            <!-- Name -->
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            
            <!-- Telegram Handle -->
            <div class="mb-3">
                <label for="telegram" class="form-label">Telegram Handle</label>
                <input type="text" class="form-control" id="telegram" name="telegram" required>
            </div>
    
            <!-- Borrowing on behalf of themselves or a club -->
            <div class="mb-3">
                <label class="form-label">Borrowing On Behalf Of</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="borrowingType" id="self" value="Self" required>
                    <label class="form-check-label" for="self">Themselves</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="borrowingType" id="club" value="Club" required>
                    <label class="form-check-label" for="club">A Club</label>
                </div>
            </div>
    
            <!-- Email Address -->
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
    
            <!-- Loan Start Date -->
            <div class="mb-3">
                <label for="startDate" class="form-label">Loan Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required
                    v-bind:max="maxDate" v-bind:min="currentDate">
            </div>
    
            <!-- Loan Return Date -->
            <div class="mb-3">
                <label for="returnDate" class="form-label">Loan Return Date</label>
                <input type="date" class="form-control" id="returnDate" name="returnDate" required
                    v-bind:min="currentDate">
            </div>
    
            <!-- Confirm Button -->
            <button type="button" class="btn btn-outline-secondary w-100"
                @click="confirmBorrow(listing)">Confirm</button>
        </form>
    </div>
</body>
</html>
